* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header */
header {
    text-align: center;
    padding: 25px;
    background-color: #222;
    color: white;
}

/* Main container using Flexbox */
.container {
    min-height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

/* Common box */
.box {
    min-height: 120px;
    max-width: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    overflow: auto;
}

/* Box 1 - px */
.box-one {
    width: 200px;
    height: 150px;
    background-color: lightblue;
}

/* Box 2 - % and vh */
.box-two {
    width: 30%;
    height: 20vh;
    background-color: lightgreen;
}

/* Box 3 - em */
.box-three {
    width: 12em;
    height: 250px;
    background-color: lightpink;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
}

/* Responsive */
@media (max-width: 700px) {

    .container {
        flex-direction: column;
    }

    .box-two {
        width: 80%;
    }
}